@import "utils/variables";
@import "utils/global";
@import "utils/reset";

body {
  background-color: $main-page-color;
  font-family: $main-font;
  font-size: $main-font-size;
  letter-spacing: $main-letter-spacing;
  color: $main-text-color;
}

@import "components/social-icons";

// components
@import "components/logo";
@import "components/page-header";
@import "components/hero";
@import "components/benefits";
@import "components/operation";
@import "components/team";
@import "components/clients";
@import "components/footer";
@import "components/backdrop";
@import "components/modal";

// @import "components/mobile-menu";
