.page-footer {
  background-color: $secondary-page-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.address__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: block;
    text-align: center;
    
  margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.address__list {
  @media screen and (max-width: 767px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;

  margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    display: inline-block;
    white-space: nowrap;
  }

  @media screen and (min-width: $desktop) {
    display: inline-block;
    white-space: nowrap;
  }
}

.address__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.address__link {
  font-style: normal;
  line-height: 1.71;
  color: $main-page-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// footer social

.social {
  @media screen and (max-width: 767px) {
  display: block;
  margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    display: block;
    margin-left: 70px;
  }
}

.social__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: $main-page-color;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

/* form footer  */
.footer-form {
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    // margin-top: 60px;
  }

  @media screen and (min-width: $desktop) {
    display: block;
    margin-left: 93px;
  }
}

.footer-form__title {
  display: block;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: $main-page-color;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.footer-form__signup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
}

.footer-form__label {
  display: block;
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  background-color: $hero-overlay-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  padding-left: 16px;
  color: $secondary-text-color;

  margin-right: 12px;
}

.footer-form__btn {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  background-color: $accent-color;
  fill: $main-page-color;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $hero-overlay-color;
    fill: $hero-overlay-color;
  }
}

.footer-form__btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $main-page-color;
  padding-right: 62px;
  padding-left: 28px;
}

.footer-form__btn-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}
