.hero {
  background-color: $secondary-page-color;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero-background-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-background-tablet.jpg");

    max-width: 768px;
    height: 400px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero {
        background-image: url(../images/hero-background-tablet@2x.jpg);
      }
    }

    @media screen and (min-width: $desktop) {
      padding-top: 200px;
      padding-bottom: 200px;

      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-background-desktop.jpg");

      max-width: 1600px;
      height: 600px;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
          background-image: url(../images/hero-background-desktop@2x.jpg);
        }
      }
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-page-color;
  width: 360px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    width: 400px;
  }

  @media screen and (min-width: $desktop) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $main-page-color;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $main-page-color;
  background-color: $accent-color;
  border: $accent-color;
  border-radius: 4px;
  margin-top: 30px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  min-width: 152px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $main-page-color;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

  @media screen and (min-width: $tablet) {
    margin-top: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 30px;
  }
}
