.menu-toogle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  margin-left: auto;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 0 48px 40px;
  background-color: $main-page-color;

  transform: translateX(100%);
  transition: transform 250ms ease, step-start, cubic-bezier(0.1, 0.7, 1, 0.1);

  &.is-open {
    display: flex;
    flex-direction: column;

    transform: translateX(0);
  }

  &.menu-toogle {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.mobile-navigation__list {
  margin-bottom: auto;
}

.mobile-navigation__item {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-navigation__link {
  display: block;
  font-size: calc(1em + 4vw);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: $main-text-color;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $mobile) {
    font-size: 40px;
  }
}

.mobile-contacts__list {
  margin-bottom: 64px;
}

.mobile-contacts__item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-contacts__link {
  display: block;
  font-size: calc(1em + 4vw);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: $secondary-text-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: $mobile) {
    font-size: 34px;
  }
}

.mobile-social__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-social__item {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  &:last-child {
    margin-right: 0;
    border: none;
  }
}

.mobile-social__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: $accent-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: rgba(33, 33, 33, 0.2);
  }
}
