.operation {
  display: none;

  @media screen and (min-width: $tablet) {
display: none;
  }

  @media screen and (min-width: $desktop) {
  display: contents;
  }
}

.operation__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: $main-text-color;
  text-align: center;
  margin-bottom: 50px;
}

.operation__list {
  display: flex;
  padding-left: 0;
}

.operation__img {
  width: 370px;
}

.operation__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.operation__box {
  position: relative;
  width: 370px;
  height: 294px;
}

.operation__overlay {
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.overlay__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $main-page-color;
  text-transform: uppercase;
  white-space: nowrap;
}
