.page-header {
  border-bottom: 1px solid $border-color;
}

.header-container {


  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

// .mobile-menu__btn {
//   @media screen and (min-width: $tablet) {
//     display: none;
//   }

//   @media screen and (min-width: $desktop) {
//     display: none;
//   }
// }

// .mobile-menu {
//   @media screen and (min-width: $tablet) {
//     display: none;
//   }

//   @media screen and (min-width: $desktop) {
//     display: none;
//   }
// }

.navigation {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;

    margin-left: 87px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;

    margin-left: 91px;
  }
}

.navigation__list {
  display: inherit;
  padding-left: 0;
}

.navigation__item {
  @media screen and (min-width: $tablet), screen and (min-width: $desktop) {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $main-text-color;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.link-current {
  color: $accent-color;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts__list {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: baseline;
  }
}

.contacts__item {
  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.contacts__link {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    fill: $secondary-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
      fill: currentColor;
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    // padding-top: 32px;
    // padding-bottom: 32px;
    fill: $secondary-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
      fill: currentColor;
    }
  }
}

.contacts__icon {
  @media screen and (min-width: $tablet) {
    margin-right: 8px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }
}
