.team {
  background-color: $third-page-color;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $main-text-color;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $main-text-color;
    text-align: center;
    margin-bottom: 50px;
  }
}

.team__list {
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.team__box {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: $main-page-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.team__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: $main-text-color;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  color: $secondary-text-color;
  text-align: center;
}

.team__icons-list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 16px 122px 24px 122px;

  @media screen and (min-width: $tablet) {
    display: flex;
    margin: 16px 74px 24px 74px;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin: 16px 32px 30px 32px;
    justify-content: center;
    align-items: center;
  }
}
