// colors
$main-page-color: #ffffff;
$secondary-page-color: #2f303a;
$third-page-color: #f5f4fa;
$main-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$border-color: #ececec;
$hero-overlay-color: #2f303a;
$clients-fill-color: #afb1b8;
$close-btn-fill: #000000;

// fonts
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$main-font-size: 14px;
$main-letter-spacing: 0.03em;

// display size
$mobile:480px;
$tablet:768px;
$desktop:1200px;